# Dependencies
node_modules/
.pnpm-store/

# Production Builds & Output
dist/
build/
.next/
out/
.expo/
web-build/

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Logs & Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
*.log

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.vercel
.env*
*.tsbuildinfo
